.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.container-section-articles {
    width: 100%;
    height: 650px;
    margin: 40px 0px;
    background-color: none;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: flex-start;
    flex-direction: row;
}

.articles-vertical {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    height: 600px;
}

.articles-vertical article {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow-article-link {
    position: absolute;
    bottom: 20px;    
    right: 20px;     
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.arrow-article-link:hover {
    transform: translateY(-2px);
}

/* COLORES DE LOS FONDOS DE LOS ARTICULOS */
.articles-vertical .blue {
    background-color: #bee7ff;
}

.articles-vertical .green {
    background-color: #b5ffe3;
}

.articles-horizontal .yellow {
    background-color: #fff9c8;
}

/* Imagenes de los articulos */
.articles-vertical .green .article-img {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: end;
}

.articles-vertical .blue .article-img {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: end;
}

.article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article-text {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.article-text h5 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 600;
}

.articles-horizontal {
    display: flex;
    position: relative;
    width: 50%;
    height: 600px;
}

.articles-horizontal article {
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.articles-horizontal .article-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.articles-horizontal .article-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles-horizontal .article-img img {
    width: 85%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scaleX(-1) rotate(-5deg);
}

.text-article-horizontal-h2 {
    width: 450px;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    text-align: left;
}

.text-article-horizontal-p {
    font-size: 1rem;
    margin: 0;
    text-align: left;
}

.btn-article {
    background-color: #2b2b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}



/* El resto del CSS se mantiene igual */
.container-section-testimony {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 650px;
    /* background-color: red; */
}

.article-testimony {
    /* background-color: green; */
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 100px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 65px 20px;
    align-items: center;
}

/* TESTIMONY */
.testimony-img-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-img-title h5 {
    font-size: 1.5rem;
}

.testimony-text {
    font-family: var(--font-family);
    width: 600px;
    font-size: 1.5rem;
    font-weight: 500;
}

.name-testimony {
    font: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.container-img-testimony {
    background-color: #ebeef1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.container-img-testimony img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating-stars-testimony {
    /* background-color: red; */
    margin: 15px 0px;
    font-size: 1.3rem;
}

.span-testimony {
    display: flex;
    flex-direction: column;
}

.mini-span {
    color: #494747;
}
